@import 'open-props/sizes' layer(design.system);
@import 'open-props/aspects' layer(design.system);

@import './theme.css' layer(design.base);
@import './form.css' layer(design.base);

/* @import './carousel.css' layer(components.carousel); */
@import './carousel.css';

html {
  background-color: var(--surface-document);
  color: var(--text-1);
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  display: grid;
  place-content: center;
  gap: var(--size-5);
  padding-block-end: var(--size-10);

  @media (width >= 1200px) {
    grid-template-columns: auto 1fr;
    column-gap: var(--size-10);
    padding-block-end: 0px;

    > *:not(form) {
      grid-column: 2;
    }

    > form {
      grid-column: 1;
      grid-row: 1;
      block-size: 100svh;
      overflow-y: auto;
      box-sizing: border-box;
      align-content: start;
      padding: var(--size-5);
      background: var(--surface-2);
    }
  }
}

output > pre {
  max-inline-size: max-content;
  background: var(--well-1);
  padding: var(--size-3);
}