@import 'open-props/oklch-hues';
@import 'open-props/gray-hd';

:root {
  --gray-chroma: 0;

  --surface-1: white;
  --surface-2: var(--gray-0);
  --surface-3: var(--gray-1);
  --surface-document: var(--gray-2);
  --well-1: var(--gray-3);
  --text-1: var(--gray-16);
  --text-2: var(--gray-12);

  @media (prefers-color-scheme: dark) {
    --gray-hue: var(--hue-indigo);
    --gray-chroma: .01;
    --surface-1: var(--gray-11);
    --surface-2: var(--gray-12);
    --surface-3: var(--gray-13);
    --surface-document: var(--gray-13);
    --well-1: var(--gray-14);
    --text-1: var(--gray-1);
    --text-2: var(--gray-5);
  }
}