@import 'open-props/sizes' layer(design.system);
@import 'open-props/aspects' layer(design.system);
@import 'open-props/oklch-hues' layer(design.system);
@import 'open-props/gray-hd' layer(design.system);

:root {
  --gray-chroma: 0;

  --surface-1: white;
  --surface-2: var(--gray-0);
  --surface-3: var(--gray-1);
  --surface-document: var(--gray-2);
  --well-1: var(--gray-3);
  --text-1: var(--gray-16);
  --text-2: var(--gray-12);

  @media (prefers-color-scheme: dark) {
    --gray-hue: var(--hue-indigo);
    --gray-chroma: .01;
    --surface-1: var(--gray-11);
    --surface-2: var(--gray-12);
    --surface-3: var(--gray-13);
    --surface-document: var(--gray-13);
    --well-1: var(--gray-14);
    --text-1: var(--gray-1);
    --text-2: var(--gray-5);
  }
}

html {
  background-color: var(--surface-document);
  color: var(--text-1);
}

body {
  display: grid;
  place-content: center;
}

.custom {
  background: var(--well-1);
  width: min(calc(100vw - 16px), 800px);
  height: min(calc(100vh - 16x), 400px);
  border: 1px solid var(--surface-2);
  overflow: hidden;
  resize: both;
  padding-bottom: 8px;

  .scroll-left-button, 
  .scroll-right-button {
    background-color: var(--surface-1);
    border-color: var(--surface-2);
    border-style: solid;
    color: var(--text-1);
  }

  scroll-markers > input {
    background-color: transparent;
    border-color: var(--surface-1);

    &:checked {
      background-color: var(--surface-1);
    }
  }

  & li {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    position: relative;
    aspect-ratio: 2 / 3;
    height: 100cqh;
    box-sizing: border-box;
    contain: size;

    & > figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow: clip;
      margin: 0;
      position: relative;

      & > img {
        height: 100%;
      }
      & > figcaption {
        position: absolute;
        font-size: 2em;
        bottom: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
}


.box {
  inline-size: var(--size-content-2);
  aspect-ratio: var(--ratio-portrait);
  background: var(--surface-1);
}